.listMoovie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}



.moovieListImg {
  display: block;
  height: auto;
  max-width: 100%;
}

.moovieListText {
  background-color: #000;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 100%;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}
