@keyframes pulse {
  0%,
  100% {
    background-color: red;
  }
  50% {
    background-color: #6f2514;
  }
}

.bodyBackground {
  animation: pulse 1s infinite;
}

.notFoundText {
  text-align: center;
  color: aliceblue;
}

.errorImg {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
